#sceneground {
    border: 0px solid red;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#scene {
    border: 0px solid yellow;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#forediv {
    border: 0px solid cyan;
    text-align: center;
}

#foreimg {
    border: 0px solid greenyellow;
    max-height: none;
    max-width: none;
    filter: brightness(20%);
    transform: scale(3);
}
